<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="BigIntegerExtention" value="https://ci.appveyor.com/nuget/bazzilic-bigintegerext" />
    <add key="PaillierExt-Homomorphism" value="https://ci.appveyor.com/nuget/bazzilic-paillierext-homomorphism" />
    <add key="BigFraction" value="https://ci.appveyor.com/nuget/bazzilic-bigfraction" />
  </packageSources>
</configuration>